In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Importing Dataset
dataset = pd.read_csv('Data.csv')

In [5]:
#Getting Independent Variables
X = dataset.iloc[:,:-1].values

In [6]:
y = dataset.iloc[:,-1].values

In [19]:
#Handelling Missing Values (NonConventional)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.NaN,strategy = 'mean')
imputer  = imputer.fit(X[:,1:3])

In [20]:
X[:,1:3] = imputer.transform(X[:,1:3])

In [21]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [62]:
#handelling Missing Values (Conventional)

df = pd.read_csv('Data.csv')
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [63]:
X = df[['Country','Age','Salary']]
y  = df[['Purchased']]
X.head()

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [64]:
#Missing Values
X['Age'].fillna(X['Age'].mean(),inplace = True)
X['Salary'].fillna(X['Salary'].mean(),inplace = True)
X

c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [65]:
#Handelling Categorical Data with OneHotEncoding
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(X[['Country']]).toarray())
# merge with main df bridge_df on key values
X = X.join(enc_df)
X

   Country        Age        Salary    0    1    2
0   France  44.000000  72000.000000  1.0  0.0  0.0
1    Spain  27.000000  48000.000000  0.0  0.0  1.0
2  Germany  30.000000  54000.000000  0.0  1.0  0.0
3    Spain  38.000000  61000.000000  0.0  0.0  1.0
4  Germany  40.000000  63777.777778  0.0  1.0  0.0
5   France  35.000000  58000.000000  1.0  0.0  0.0
6    Spain  38.777778  52000.000000  0.0  0.0  1.0
7   France  48.000000  79000.000000  1.0  0.0  0.0
8  Germany  50.000000  83000.000000  0.0  1.0  0.0
9   France  37.000000  67000.000000  1.0  0.0  0.0

In [48]:
enc.categories_

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [49]:
# Handelling the dependant variable by label encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
y['Purchased_cat'] = labelencoder.fit_transform(y['Purchased'])

c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [50]:
y

  Purchased  Purchased_cat
0        No              0
1       Yes              1
2        No              0
3        No              0
4       Yes              1
5       Yes              1
6        No              0
7       Yes              1
8        No              0
9       Yes              1

In [ ]:
#All that is left is just to drop the original columns, we will do that later.